body {
    font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
    color: #3a3a3a;
    font-size: 100%;
    margin: 0px auto 0px auto;
    max-width: 800px;
    padding: 0 15px;
}

img {
    width: 100%;
    height: auto;
}

div#header {
    border-bottom: 2px solid #989898;
    margin-bottom: 30px;
    padding: 20px 0px 20px 0px;
}

div#logo a {
    color: black;
    float: left;
    font-weight: bold;
    text-decoration: underline;
    color: #666666;
}

#navigation {
    text-align: right;
}

div#header #navigation a {
    color: #666666;
    font-weight: bold;
    margin-left: 12px;
    text-decoration: none;
    text-transform: uppercase;
}

div#footer {
    border-bottom: 2px solid #989898;
    color: #555;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 40px;
}

div.info, div.posted {
    color: gray;
    font-style: italic;
}

div.posted a, div.info a {
    color: gray;
}

p {
  font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
  color: #515151;
  font-style:normal;
  line-height:30px;
  font-size: 1.1em;
}

ul {
  font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
  color: #515151;
  font-style: italic;
  line-height: 30px;
  font-size: 1.1em;
}

a {
  word-break: break-all;
}

blockquote {
    margin: 0;
    border-left: 3px solid #dedede;
}
blockquote p {
    font-style: italic;
    padding: 10px;
}

em {
    font-weight: bold;
}

.blur-up {
    -webkit-filter: blur(10px);
    filter: blur(10px);
    transition: filter 100ms, -webkit-filter 100ms;
}

.blur-up.lazyloaded {
    -webkit-filter: blur(0);
    filter: blur(0);
    transition: filter 100ms, -webkit-filter 100ms;
}

@media (max-width: 590px) {
    #logo {
        display: none;
    }

    div#header {
        padding: 5px 0px 5px 0px;
    }

    #navigation {
        text-align: center;
    }

    div#header #navigation a {
        font-size: 0.9em;
    }

    h1 {
        margin: 10px 0;
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.3em;
    }

    div.posted a, div.info a, div.info, div.posted {
        font-size: 0.8em;
    }

    p, ul {
        line-height: 1.5em;
    }
}
